In [133]:
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [135]:
data = pd.read_csv('new_solutions.csv', encoding='utf-8', header=None)

In [136]:
X = data.T
X = StandardScaler().fit_transform(X)


db = DBSCAN(eps=0.1,min_samples=2).fit(X)
db.labels_

array([-1, -1,  0,  1, -1,  0, -1,  1])

In [122]:
# Number of clusters in labels, ignoring noise if present.
# n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
# n_noise_ = list(labels).count(-1)

# print('Estimated number of clusters: %d' % n_clusters_)
# print('Estimated number of noise points: %d' % n_noise_)
# print("Homogeneity: %0.3f" % metrics.homogeneity_score(labels_true, labels))
# print("Completeness: %0.3f" % metrics.completeness_score(labels_true, labels))
# print("V-measure: %0.3f" % metrics.v_measure_score(labels_true, labels))
# print("Adjusted Rand Index: %0.3f"
#       % metrics.adjusted_rand_score(labels_true, labels))
# print("Adjusted Mutual Information: %0.3f"
#       % metrics.adjusted_mutual_info_score(labels_true, labels))
# print("Silhouette Coefficient: %0.3f"
#       % metrics.silhouette_score(X, labels))

In [127]:
pd.DataFrame(data=X)

,0,1,2,3,4,5,6,7,8,9,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,2.645639,2.645635,2.645629,2.645630,2.645655,2.645660,2.645652,2.645652,2.645652,2.645658,...,2.645670,2.645670,2.645670,2.645662,2.645659,2.645659,2.645665,2.645665,2.645671,2.645671
1,-0.380627,-0.380636,-0.381079,-0.381110,-0.381784,-0.380325,-0.382333,-0.382333,-0.382333,-0.381358,...,-0.382420,-0.382420,-0.382420,-0.382186,-0.382265,-0.382265,-0.382296,-0.382296,-0.382073,-0.382073
2,-0.382796,-0.383073,-0.383084,-0.383072,-0.382445,-0.382533,-0.382569,-0.382569,-0.382569,-0.382465,...,-0.381827,-0.381827,-0.381827,-0.382148,-0.382226,-0.382226,-0.382022,-0.382022,-0.382019,-0.382019
3,-0.386031,-0.386284,-0.386178,-0.386186,-0.385410,-0.385336,-0.385482,-0.385482,-0.385482,-0.385488,...,-0.384451,-0.384451,-0.384451,-0.384922,-0.385077,-0.385077,-0.384707,-0.384707,-0.384507,-0.384507
4,-0.358441,-0.357927,-0.356783,-0.357000,-0.362976,-0.361137,-0.363162,-0.363162,-0.363162,-0.362267,...,-0.365741,-0.365741,-0.365741,-0.363336,-0.364180,-0.364180,-0.365273,-0.365273,-0.365281,-0.365281
5,-0.383625,-0.383305,-0.383581,-0.383571,-0.383126,-0.383109,-0.382806,-0.382806,-0.382806,-0.382722,...,-0.382707,-0.382707,-0.382707,-0.382865,-0.382881,-0.382881,-0.382844,-0.382844,-0.382574,-0.382574
6,-0.367946,-0.368043,-0.368606,-0.368363,-0.364378,-0.367778,-0.363674,-0.363674,-0.363674,-0.365746,...,-0.363872,-0.363872,-0.363872,-0.365091,-0.363775,-0.363775,-0.363629,-0.363629,-0.364511,-0.364511
7,-0.386174,-0.386368,-0.386318,-0.386327,-0.385535,-0.385441,-0.385625,-0.385625,-0.385625,-0.385612,...,-0.384652,-0.384652,-0.384652,-0.385115,-0.385254,-0.385254,-0.384893,-0.384893,-0.384707,-0.384707

In [137]:
data[:5]

        0    1    2  3     4    5     6         7
0  153736  282  172  8  1407  130   925  0.727273
1  156749  297  171  5  1471  159   948  0.618182
2  158737  275  170  8  1547  144   928  0.704545
3  157696  272  170  8  1526  144   935  0.704545
4  151332  188  155  7  1127  121  1057  0.753247

In [158]:
X = pd.DataFrame(data=MinMaxScaler().fit_transform(data)).T

db = DBSCAN(eps=15,min_samples=2).fit(X)
db.labels_

/usr/local/lib/python3.4/dist-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([-1,  0,  1, -1,  0, -1, -1,  1])

In [ ]:
data